[Unit]
Description=BorgBackup Daily
Requires=network-online.target

[Service]
Environment=DISPLAY=:0
Type=oneshot
ExecStart=/usr/bin/borgmatic -v 1 -c /etc/borgmatic.d/system.yml

[Install]
WantedBy=timers.target

